name: Deploy
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: install test dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r cpython/requirements.txt
      - name: run unit tests
        working-directory: tests
        run: |
          python -m unittest discover -s . -p "*_tests.py"
  deploy_bundles:
    runs-on: ubuntu-latest
    needs: test
    permissions:
      id-token: write
      contents: read
    strategy:
      matrix:
        bundle:
          - name: entry
            dest: entry/
            dirs: "main.py"
          - name: main
            dest: main/
            dirs: "libraries infodisplay scrollclock sensor"
          - name: sensor
            dest: sensor/
            dirs: "libraries sensor"
          - name: infodisplay
            dest: infodisplay/
            dirs: "libraries infodisplay"
          - name: infodisplaysensor
            dest: infodisplaysensor/
            dirs: "libraries infodisplay sensor"
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
      - name: credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::687908690092:role/GitHub.Ae.Pico
          aws-region: eu-west-2
          role-session-name: github-actions-deploy
      - name: deploy ${{ matrix.bundle.name }} bundle
        run: bash .github/scripts/deploy_bundle.sh "${{ matrix.bundle.name }}" "${{ matrix.bundle.dest }}" "${{ matrix.bundle.dirs }}"
