name: Deploy
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: install test dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r cpython/requirements.txt
      - name: run unit tests
        working-directory: tests
        run: |
          python -m unittest discover -s . -p "*_tests.py"
  deploy:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: credentials
        uses: aws-actions/configure-aws-credentials@v4.1.0
        with:
          aws-region: eu-west-2
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: checkout repo
        uses: actions/checkout@v4
      - name: prepare main bundle
        run: |
          mkdir -p temp_deploy_main
          cp libraries/*.py temp_deploy_main/
          cp infodisplay/*.py temp_deploy_main/
          cp scrollclock/*.py temp_deploy_main/
          cp sensor/*.py temp_deploy_main/
          cp thermostat/*.py temp_deploy_main/
      - name: prepare wled bundle
        run: |
          mkdir -p temp_deploy_wled
          cp libraries/*.py temp_deploy_wled/
          cp wled/*.py temp_deploy_wled/
      - name: prepare sensor bundle
        run: |
          mkdir -p temp_deploy_sensor
          cp libraries/*.py temp_deploy_sensor/
          cp sensor/*.py temp_deploy_sensor/
      - name: create manifest (main)
        run: |
          echo "" >> temp_deploy_main/manifest.txt
          for file in temp_deploy_main/*.py; do
            if [ -f "$file" ]; then
              filename=$(basename "$file")
              hash=$(sha256sum "$file" | cut -d' ' -f1)
              echo "$filename $hash" >> temp_deploy_main/manifest.txt
            fi
          done
      - name: create manifest (wled)
        run: |
          echo "" >> temp_deploy_wled/manifest.txt
          for file in temp_deploy_wled/*.py; do
            if [ -f "$file" ]; then
              filename=$(basename "$file")
              hash=$(sha256sum "$file" | cut -d' ' -f1)
              echo "$filename $hash" >> temp_deploy_wled/manifest.txt
            fi
          done
      - name: create manifest (sensor)
        run: |
          echo "" >> temp_deploy_sensor/manifest.txt
          for file in temp_deploy_sensor/*.py; do
            if [ -f "$file" ]; then
              filename=$(basename "$file")
              hash=$(sha256sum "$file" | cut -d' ' -f1)
              echo "$filename $hash" >> temp_deploy_sensor/manifest.txt
            fi
          done
      - name: copy main bundle
        run: aws s3 sync temp_deploy_main/ s3://ae-pico/main/ --delete
      - name: copy wled bundle
        run: aws s3 sync temp_deploy_wled/ s3://ae-pico/wled/ --delete
      - name: copy sensor bundle
        run: aws s3 sync temp_deploy_sensor/ s3://ae-pico/sensor/ --delete
